<p>add-feedback works!</p>
<html>
      <head>
        <meta charset="utf-8" />
        <title>Responsive Feedback form Form</title>
        <meta name="viewport" content="width=device-width,
          initial-scale=1.0"/>
      </head>
      <body>
        <div class="user-input-box">
            //<label></label>
            <input type="text" placeholder="Enter Name" class ="form-control" id = "Feedback"
            [(ngModel)] = "feedback.feedback" name = "ngoName" formControlName="ngoName" [class.is-invalid]=" feedback">
            <!--<small [class.d-none]="feedback.valid || feedback.untouched" class="text-danger">
                Feedback is a required field</small>-->
          </div>
      </body>
    </html>
